<div id="<%= dom_id user %>">
  <p>
    <strong>User:</strong>
    <%= user.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= user.login %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

</div>
