<div id="<%= dom_id desk %>">
  <p>
    <strong>Floor number:</strong>
    <%= desk.floor_number %>
  </p>

  <p>
    <strong>Pos x:</strong>
    <%= desk.pos_x %>
  </p>

  <p>
    <strong>Pos y:</strong>
    <%= desk.pos_y %>
  </p>

  <p>
    <strong>Booked by:</strong>
    <%= desk.booked_by %>
  </p>

</div>
