<p style="color: green"><%= notice %></p>

<h1>Desks</h1>
<%= link_to 'View Rooms', rooms_path %>

<%= form_tag desks_path, method: :get do %>
  <%= select_tag :floor, options_for_select(@floors, params[:floor]), prompt: 'Select Floor' %>
  <%= submit_tag 'Choose Floor' %>
<% end %>

<div class="grid-container">
  <% @desks.each do |desk| %>
    <div class="grid-item" style="grid-column: <%= desk.pos_x %>; grid-row: <%= desk.pos_y %>;">
      <% if desk.booked_by?(current_user) %>
         <%= button_to 'Cancel Booking', unbook_desk_path(desk), method: :patch, class:'booked' %>
      <% elsif desk.booked_by?(nil) %>
        <%= button_to 'Book', book_desk_path(desk), method: :patch, class:'available' %>
      <% else %>
        <%= button_to 'Booked', unbook_desk_path(desk), method: :patch, class:'booked', disabled: true %>
      <% end %>
      <%= button_to 'X', desk_path(desk), method: :delete, data: { confirm: 'Are you sure you want to remove this desk?' }, class: 'remove-button' %>
   
    </div>
  <% end %>
</div>



<%= form_with(model: @new_desk, url: desks_path, local: true) do |form| %>
  <%= form.label :floor_number %>
  <%= form.number_field :floor_number %>

  <%= form.label :pos_x %>
  <%= form.number_field :pos_x %>

  <%= form.label :pos_y %>
  <%= form.number_field :pos_y %>

  <%= form.submit 'Add Desk' %>
<% end %>

<style>
  .grid-container {
    display: grid;
    background: gray;
    gap: 10px; 
  }

  .grid-item {
    display: flex;
    justify-content: center;
    border: solid #461f00;
    background: #A0793D;
    
  }

  .desk-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }

  .desk {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }

  .booked {
    background-color: red;
    color: white;
  }

  .available {
    background-color: green;
    color: white;
  }

  .remove-button{
    background-color:red;
    font: bold
  }
</style>