<div id="<%= dom_id room %>">
  <p>
    <strong>Floor number:</strong>
    <%= room.floor_number %>
  </p>

  <p>
    <strong>Lu:</strong>
    <%= room.lu %>
  </p>

  <p>
    <strong>Ld:</strong>
    <%= room.ld %>
  </p>

  <p>
    <strong>Ru:</strong>
    <%= room.ru %>
  </p>

  <p>
    <strong>Rd:</strong>
    <%= room.rd %>
  </p>

  <p>
    <strong>Booked by:</strong>
    <%= room.booked_by %>
  </p>

</div>
